extends layout

block content
  #map
  #nav-shadow
  #nav
    .filter
      span.icon-filter
    .twitter
      span.icon-twitter
  #filter
    h1.filter-catagory Police
    .filter-group
      #police-crimes.filter-toggle Crimes
      .filter-options Some options go here
    .filter-group
      #police-info.filter-toggle Info
      .filter-options Some options go here
    h1.filter-catagory Transport
    .filter-group
      #transport-bikes.filter-toggle Bikes
      .filter-options Some options go here
    .filter-group
      #transport-buses.filter-toggle Buses
      .filter-options
        input#bus-route(type='text', placeholder='Line')
    .filter-group
      #transport-tubes.filter-toggle Tubes
        .filter-options Some options go here
  #twitter
    #tweets
  #search
    label.icon-search
      input.search-term(type='text', placeholder='Location')
  #about
    a(href='https://github.com/leonpegg/springhack') Fork us on 
      span.icon-github-sign
  #info-box