extends layout

block content
  #map
  #nav-shadow
  #nav
    .filter
      span.icon-filter
    .twitter
      span.icon-twitter
  #filter
    .filter-group
      #police-crimes.filter-toggle Police (Crimes)
      .filter-options Some options go here
    .filter-group
      #police-info.filter-toggle Police (Info)
      .filter-options Some options go here
    .filter-group
      #transport-bikes.filter-toggle Transport (Bikes)
      .filter-options Some options go here
    .filter-group
      #transport-buses.filter-toggle Transport (Buses)
      .filter-options Some options go here
    .filter-group
      #transport-tubes.filter-toggle Transport (Tubes)
      .filter-options Some options go here
  #twitter
    #tweets
  #search
    label.icon-search
      input.search-term(type='text', placeholder='Location')
  #about
    a(href='https://github.com/leonpegg/springhack') Fork us on 
      span.icon-github-sign
  #info-box