extends layout

block content
  #map
  #nav
    .search
      span.icon-search
    .twitter
      span.icon-twitter
  #search
    form
      input#police(type='button', value='Police')
<<<<<<< HEAD
      label Bikes
        input#bikes(type='checkbox')
=======
      input.search-box(type='input', placeholder='Location')
>>>>>>> 36d585681863501b77306cacf2f839680896c82a
  #twitter