extends layout

block content
  #map
  #nav-shadow
  #nav
    .filter
      span.icon-filter
    .twitter
      span.icon-twitter
  #filter
    .filter-group
      label.filter-toggle Police (Crimes)
        input#police-crimes(type='checkbox')
      .filter-options Some options go here
    .filter-group
      label.filter-toggle Transport (Bikes)
        input#transport-bikes(type='checkbox')
      .filter-options Some options go here
    .filter-group
      label.filter-toggle Transport (Buses)
        input#transport-buses(type='checkbox')
      .filter-options Some options go here
    .filter-group
      label.filter-toggle Transport (Tubes)
        input#transport-tubes(type='checkbox')
      .filter-options Some options go here
  #twitter
    #tweets
  #search
    label.icon-search
      input.search-term(type='text', placeholder='Location')
  #about
    a(href='https://github.com/leonpegg/springhack') Fork us on 
      span.icon-github-sign
  #info-box