extends layout

block content
  #map
  #nav
    .filter
      span.icon-filter
    .twitter
      span.icon-twitter
  #filter
    input#police(type='button', value='Police')
    #policeData
      #policeTotal
    label Bikes
      input#bikes(type='checkbox')
  #twitter
  #search
    label.icon-search
      input.search-term(type='text')