extends layout

block content
  #map
  #nav
    .search
      span.icon-search
    .twitter
      span.icon-twitter
  #search
    form
      input#police(type='button', value='Police')
      input.search(type='input', placeholder='Location')
  #twitter