extends layout

block content
  #map
  #nav
    .filter
      span.icon-filter
    .twitter
      span.icon-twitter
  #filter
    form
      input#police(type='button', value='Police')
      label Bikes
        input#bikes(type='checkbox')
  #twitter
  #search
    form
      label.icon-search
        input(type='text')