doctype 5
html
  head
    meta(name="viewport", content="user-scalable=no, width=device-width")
    title Spring Hack
    link(rel='stylesheet', href='/stylesheets/reset.css')
    link(rel='stylesheet', href='/stylesheets/layout.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='http://www.openlayers.org/api/OpenLayers.js')
    script(src='/javascripts/vendor/jquery.min.js')
    script(src='/javascripts/vendor/heatmap.js/heatmap.js')
    script(src='/javascripts/vendor/heatmap.js/heatmap-openlayers.js')
    script(src='/javascripts/app.js')
    script(src='/bikes_layers/overlay_ol.js')
  body
    block content