.filter,
.twitter {
  text-align: center;
}
.filter span,
.twitter span {
  display: block;
  padding-top: 0.5em;
  font-size: 2em;
}
.filter,
#filter {
  background: #FCFF50;
}
.twitter,
#twitter {
  background: #9AE4E8;
}
#filter,
#twitter {
  overflow: auto;
  opacity: 0;
  -webkit-box-shadow: 7px 0px 20px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 7px 0px 20px rgba(50, 50, 50, 0.75);
  box-shadow: 7px 0px 20px rgba(50, 50, 50, 0.75);
}
#search {
  border-radius: 0.5em;
  background: #776D6D;
  opacity: 0.9;
  color: white;
  padding: 0.5em;
}
#search label {
  font-size: 2em;
}
#search label input {
  font-size: 0.5em;
  vertical-align: top;
  margin-left: 1em;
  margin-top: 0.25em;
  padding-left: 0;
  width: 85%;
}
#filter .filter-group {
  display: block;
  padding: 0.5em;
  border-bottom: dashed 1px gray;
}
.tweetCloud {
  display: block;
  padding: 0.5em;
  border-bottom: dashed 1px gray;
}
