.filter, .twitter {
	text-align: center;
	padding-top: 0.5em;
	span {
		font-size: 2em;
	}
}
.filter, #filter {
	background: #FCFF50;
}
.twitter, #twitter {
	background: #9AE4E8;
}
#filter, #twitter {
	opacity: 0;
}