.filter,
.twitter {
  text-align: center;
  padding-top: 0.5em;
}
.filter span,
.twitter span {
  font-size: 2em;
}
.filter,
#filter {
  background: #FCFF50;
}
.twitter,
#twitter {
  background: #9AE4E8;
}
#filter,
#twitter {
  opacity: 0;
}
#search {
  border-radius: 0.5em;
  background: #776D6D;
  opacity: 0.9;
  color: white;
}
#search form {
  margin: 0.25em;
  font-size: 2em;
}
#search form label input {
  font-size: 0.5em;
  vertical-align: top;
  margin-left: 1em;
  margin-top: 0.25em;
  padding-left: 0;
  width: 85%;
}
#policeData {
  display: none;
}
