.filter, .twitter {
	text-align: center;
	padding-top: 0.5em;
	span {
		font-size: 2em;
	}
}
.filter, #filter {
	background: #FCFF50;
}
.twitter, #twitter {
	background: #9AE4E8;
}
#filter, #twitter {
	opacity: 0;
}
#search {
	background: black;
	opacity: 0.8;
	color: white;
	form {
		margin: 0.25em;
		font-size: 2em;
	}
}